<%- include('header') -%>

<div class="allWrapper">
  <h1 class="question"><%= title %></h1>
  <div class="answer"> <%=answer%> </div>
  <p class="desc"> <%=desc%> </p>
  <p class="next"> <%=next%> </p>
</div>


<%- include('footer') -%>
